{
  "env": {
    "mocha": true
  },
  "globals": {
    "fs": false,
    "assert": false,
    "assertThrowsAsync": false
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error"
  }
}
